@mixin button($width) {
  .btn {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    width: $width;
  }

  .btn:hover {
    border: 1px solid $secondary-color;
    color: #fff;
    background-color: $secondary-color;
  }
}

@mixin primary-font {
  color: $primary-font-color;
  font-family: $primary-font;
}

@mixin secondary-font {
  font-family: $secondary-font;
  color: $secondary-font-color;
  font-weight: bold;
}
