@mixin button($width) {
  .btn {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    width: $width;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "rubik", sans-serif;
    font-size: 0.9rem;
    padding: 0.7rem 0 0.7rem 0;
  }

  .btn:hover {
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: #fff;
  }

  .btn:active {
    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: #fff;
  }
}

@mixin primary-font {
  color: $primary-font-color;
  font-family: $primary-font;
}

@mixin secondary-font {
  font-family: $secondary-font;
  color: $secondary-font-color;
  font-weight: bold;
}
