@import "variables";
@import "mixin";

body {
  background-color: $primary-color;
}

.navbar {
  background-color: $primary-color;
  margin-top: 2rem;

  a {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #c0c0c0;
  }

  a:hover {
    color: #ffffff;
  }

  @include button(7rem);
}

#main {
  margin: 4rem 0;

  .left {
    h1 {
      @include primary-font();
      font-weight: bolder;
    }

    p {
      @include secondary-font();
    }

    .row {
      margin-top: 2rem;

      p {
        margin-left: -1.5rem;
      }

      a {
        margin-left: -1.5rem;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: $secondary-font-color;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    @include button(9rem);
  }

  .right {
    margin-left: -3.8rem;
  }
}

#features {
  height: 100vh;

  .swiper {
    .swiper-container {
      transition: linear;
    }

    img {
      filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
    }
  }

  .header {
    margin-top: 5rem;

    h1 {
      @include primary-font();
    }

    p {
      @include secondary-font();
    }
  }

  .features {
    h5 {
      @include primary-font();
    }

    p {
      @include secondary-font();
    }

    .pcustom {
      padding-left: 1.5rem;
    }
  }
}
