@import "variables";
@import "mixin";

body {
  overflow-x: hidden;
}

body {
  background-color: $primary-color;
}

.navbar {
  background-color: $primary-color;
  margin-top: 2rem;

  a {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #c0c0c0;
  }

  a:hover {
    color: #ffffff;
  }

  @include button(8rem);
}

#main {
  margin: 4rem 0;

  .left {
    h1 {
      @include primary-font();
      font-weight: bolder;
    }

    p {
      @include secondary-font();
    }

    .row {
      margin-top: 2rem;

      a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: $secondary-font-color;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    @include button(10rem);
  }

  .right {
    margin-left: -3.8rem;
  }
}

#features {
  min-height: 100vh;

  .swiper {
    .swiper-container {
      transition: linear;
    }

    img {
      filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
    }
  }

  .header {
    margin-top: 5rem;

    h1 {
      @include primary-font();
    }

    p {
      @include secondary-font();
    }
  }

  .features {
    h5 {
      @include primary-font();
      font-size: 1.1rem;
    }

    p {
      @include secondary-font();
      font-size: 0.9rem;
    }

    .pcustom {
      padding-left: 1.5rem;
    }
  }
}

#benefits {
  min-height: 100vh;

  .left {
    h1 {
      @include primary-font;
    }

    p {
      @include secondary-font;
    }

    @include button(10rem);
  }

  .right {
    background-image: url("../images/bg-S6.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

#get-started {
  min-height: 100vh;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    @include primary-font();
  }

  @include button(10rem);
}

#contact {
  min-height: 100vh;
  background-image: url("../images/background-S8.png");
  background-repeat: no-repeat;
  background-position: center;

  .card {
    background: rgba(45, 52, 98, 0.6);
    border-radius: 10px;
    border: 1px solid rgba(45, 52, 98, 0.6);
    backdrop-filter: blur(10px);
    min-height: 50vh;
    text-align: center;

    h1 {
      @include primary-font();
      color: $secondary-color;
      margin: 2rem 0;
    }

    p {
      @include secondary-font();
    }

    .input-group {
      width: 40%;

      input {
        background: rgba(45, 52, 98, 0.6);
        border-radius: 10px;
        border: 1px solid rgba(45, 52, 98, 0.8);
        backdrop-filter: blur(10px);
      }
    }

    @include button(8rem);
  }
}

footer {
  padding: 1rem 0 1rem 0;

  p {
    @include secondary-font();
  }

  .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #000;
    background: rgba(70, 74, 102, 0.2);
    border: 1px solid rgba(45, 52, 98, 0.6);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    margin-right: 1rem;

    a {
      color: #fff;
    }
  }
}

@media (max-width: 480px) {
  br {
    display: none;
  }

  // .navbar {
  //   display: none;
  // }

  #main {
    .left {
      .d-flex {
        justify-content: center;
      }

      img {
        width: 95%;
      }

      p {
        margin: 1rem 0;
      }

      .video {
        img {
          padding-bottom: 0.5rem;
        }

        a {
          padding: 0.5rem 0 0 0.7rem;
        }
      }
    }
  }

  #benefits {
    background-image: url("../images/bg-S6.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  #get-started {
    h1 {
      padding-top: 7rem;
    }
  }

  #contact {
    .input-group {
      display: block;

      input {
        width: 200% !important;
      }
    }
  }
}
