body {
  background-color: #131648;
}

.navbar {
  background-color: #131648;
  margin-top: 2rem;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: #c0c0c0;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0 0.6rem 0;
}

.navbar .btn:hover {
  border: 1px solid #f2994a;
  color: #fff;
  background-color: #f2994a;
}

#main {
  margin: 4rem 0;
}

#main .left h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

#main .left p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#main .left .row {
  margin-top: 2rem;
}

#main .left .row p {
  margin-left: -1.5rem;
}

#main .left .row a {
  margin-left: -1.5rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #9384a3;
}

#main .left .row a:hover {
  text-decoration: underline;
}

#main .left .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0 0.6rem 0;
}

#main .left .btn:hover {
  border: 1px solid #f2994a;
  color: #fff;
  background-color: #f2994a;
}

#main .right {
  margin-left: -3.8rem;
}

#features {
  height: 100vh;
}

#features .swiper .swiper-container {
  -webkit-transition: linear;
  transition: linear;
}

#features .swiper img {
  -webkit-filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
          filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
}

#features .header {
  margin-top: 5rem;
}

#features .header h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#features .header p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#features .features h5 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#features .features p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#features .features .pcustom {
  padding-left: 1.5rem;
}

#benefits {
  height: 100vh;
}

#benefits .left h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#benefits .left p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#benefits .left .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0 0.6rem 0;
}

#benefits .left .btn:hover {
  border: 1px solid #f2994a;
  color: #fff;
  background-color: #f2994a;
}

#get-started {
  height: 100vh;
  background-image: url("../images/background-decoration-S5.svg");
}

#get-started h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#get-started .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.6rem 0 0.6rem 0;
}

#get-started .btn:hover {
  border: 1px solid #f2994a;
  color: #fff;
  background-color: #f2994a;
}
/*# sourceMappingURL=main.css.map */