body {
  overflow-x: hidden;
}

body {
  background-color: #131648;
}

.navbar {
  background-color: #131648;
  margin-top: 2rem;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: #c0c0c0;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.7rem 0 0.7rem 0;
}

.navbar .btn:hover {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

.navbar .btn:active {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#main {
  margin: 4rem 0;
}

#main .left h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

#main .left p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#main .left .row {
  margin-top: 2rem;
}

#main .left .row a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #9384a3;
}

#main .left .row a:hover {
  text-decoration: underline;
}

#main .left .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.7rem 0 0.7rem 0;
}

#main .left .btn:hover {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#main .left .btn:active {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#main .right {
  margin-left: -3.8rem;
}

#features {
  min-height: 100vh;
}

#features .swiper .swiper-container {
  -webkit-transition: linear;
  transition: linear;
}

#features .swiper img {
  -webkit-filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
          filter: invert(56%) sepia(4%) saturate(1800%) hue-rotate(226deg) brightness(97%) contrast(84%);
}

#features .header {
  margin-top: 5rem;
}

#features .header h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#features .header p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#features .features h5 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

#features .features p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
  font-size: 0.9rem;
}

#features .features .pcustom {
  padding-left: 1.5rem;
}

#benefits {
  min-height: 100vh;
}

#benefits .left h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#benefits .left p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#benefits .left .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.7rem 0 0.7rem 0;
}

#benefits .left .btn:hover {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#benefits .left .btn:active {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#benefits .right {
  background-image: url("../images/bg-S6.png");
  background-repeat: no-repeat;
  background-position: center;
}

#get-started {
  min-height: 100vh;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

#get-started h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
}

#get-started .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.7rem 0 0.7rem 0;
}

#get-started .btn:hover {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#get-started .btn:active {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#contact {
  min-height: 100vh;
  background-image: url("../images/background-S8.png");
  background-repeat: no-repeat;
  background-position: center;
}

#contact .card {
  background: rgba(45, 52, 98, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(45, 52, 98, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  min-height: 50vh;
  text-align: center;
}

#contact .card h1 {
  color: #99efd0;
  font-family: "Inter", sans-serif;
  color: #f2994a;
  margin: 2rem 0;
}

#contact .card p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

#contact .card .input-group {
  width: 40%;
}

#contact .card .input-group input {
  background: rgba(45, 52, 98, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(45, 52, 98, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#contact .card .btn {
  border: 1px solid #f2994a;
  color: #f2994a;
  width: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "rubik", sans-serif;
  font-size: 0.9rem;
  padding: 0.7rem 0 0.7rem 0;
}

#contact .card .btn:hover {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

#contact .card .btn:active {
  border: 1px solid #f2994a;
  background-color: #f2994a;
  color: #fff;
}

footer {
  padding: 1rem 0 1rem 0;
}

footer p {
  font-family: "varella", sans-serif;
  color: #9384a3;
  font-weight: bold;
}

footer .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #000;
  background: rgba(70, 74, 102, 0.2);
  border: 1px solid rgba(45, 52, 98, 0.6);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin-right: 1rem;
}

footer .link-wrapper a {
  color: #fff;
}

@media (max-width: 480px) {
  br {
    display: none;
  }
  #main .left .d-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main .left img {
    width: 95%;
  }
  #main .left p {
    margin: 1rem 0;
  }
  #main .left .video img {
    padding-bottom: 0.5rem;
  }
  #main .left .video a {
    padding: 0.5rem 0 0 0.7rem;
  }
  #benefits {
    background-image: url("../images/bg-S6.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  #get-started h1 {
    padding-top: 7rem;
  }
  #contact .input-group {
    display: block;
  }
  #contact .input-group input {
    width: 200% !important;
  }
}
/*# sourceMappingURL=main.css.map */